project.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="projects">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="project" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="course">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="course-name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="project-requirements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="project-requirement"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="technologies">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="technology">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="technology-name" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="theme"/>
              <xs:element name="timeline">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="start-date"/>
                    <xs:element type="xs:string" name="end-date"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>